{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen">
    <title>TreasureGram</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
        <a href="/"><img src="{% static "images/logo.png" %}" height="90"></a>
        {% if user.is_authenticated %}
        <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}"></a>
        <a class="navbar-text navbar-right" href="{% url 'logout' %}">logout</a>
        {% else %}
        <a class="navbar-text navbar-right" href="{% url 'login' %}">login</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock content %}

</body>

</html>