{% load staticfiles %}
{% include 'base_view.html' %}


{% block content %}
<main class="container container--mw700">
    <div class="row">
        {% for treasure in treasures %}
        <div class="col-md-4">
            <a href="/{{treasure.id}}/">
                <div class="treasure panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ treasure.name }}</h3>
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div>
        <div>
            <div class="panel-heading">
                <h3 class="panel-title">Add Treasure</h3>
            </div>
        </div>
        <div class="panel-body">
            <form action="post_url/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock %}