{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    <title>TreasureGram</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
        <a href="/"><img src="{% static "images/logo.png" %}" height="90"></a>
    </nav>
    <main class="container container--mw700">
        <div class="row">
        {% for treasure in treasures %}
        <div class="col-md-4">
            <div class="treasure panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">{{ treasure.name }}</h3>
                </div>

            </div>
        </div>
        {% endfor %}
        </div>
    </main>

</html>