{% load staticfiles %}
{% include 'base.html' %}


{% block content %}
<main class="container container--mw700">
    <div class="row">
        {% for treasure in treasures %}
        <div class="col-md-4">
            <a href="/{{treasure.id}}/">
                <div class="treasure panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ treasure.name }}</h3>
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}